* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.topbarAll {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #fff;
  align-items: center;
  z-index: 999;
  .leftSectionTopbar {
    flex: 3;
    display: flex;
    align-items: center;
    padding-left: 16px;
    gap: 8px;
    .searchInput {
      background-color: #f0f2f5;
      padding: 6px 9px 6px 9px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      svg {
        color: #65676b;
        height: 20px;
        width: 20px;
      }
      input {
        border: none;
        background: none;
        padding: 4px 26px 4px 4px;
        font-size: 15px;
        color: #050505;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      :focus {
        outline: none;
        border: none;
      }
    }
  }
  .middleSectionTopbar {
    flex: 6;
    ul {
      display: flex;
      :link {
        padding: 0.2499rem 0;
        margin-left: 5px;
        .topbarMenuspacing {
          padding: 0.626rem 2.74rem;
          border-radius: 10px;
          &:hover {
            background-color: #f2f3f5;
          }
        }

        .secondaryIcon {
          display: none;
        }
        &:first-child{
          margin-left: 0;
        }
      }

      .active {
        border-radius: 10px 10px 0 0;
        border-bottom: 3px solid #0866ff;
        .secondaryIcon {
          display: block;
        }
        .primaryIcon {
          display: none;
        }
        &:hover .topbarMenuspacing {
          background-color: transparent;
        }
      }
    
    }
  }
  .rightSectionTopbar {
    padding-right: 16px;
    flex: 1;
    h1{
      padding: 8px 16px;
      font-size: 1.5rem;
      color: #050505;
    }
    ul {
      display: flex;
      gap: 8px;
      align-items: center;
      li {
        cursor: pointer;
        background-color: #e4e6eb;
        padding: 20px;
        border-radius: 50%;
        position: relative;
        span {
          position: absolute;
          transform: translate(-50%, -42%);
          svg {
            color: #050505;
          }
        }
      }
      .active {
        background-color: #ebf5ff;
        span {
          svg {
            color: #0866ff;
          }
        }
        .menuWrapper {
          display: flex;
        }
      }
    }
    .searchInput{
      background-color: #F0F2F5;
      display: flex;
      align-items: center;
      border-radius: 25px;
      gap: 5px;
      height: 36px;
      width: 326px;
      margin: 0 16px;
      i{
        height: 20px;
        padding-left: 12px;
        svg{
          font-size: 20px;
          color: #65676B;
        }
      }
     
          input{
        border: none;
        background: none;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 84%;
        &:focus{
          outline: none;
        }
      }
    }
   
    .menuWrapper {
      position: absolute;
      transform: translate(-424px, 5px);
      background-color: #F7F8FA;
      border-radius: max(0px, min(8px, (100vw - 4px - 100%) * 9999)) / 8px;
      box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      z-index: 999;
      max-height: 571px;
      

      .menusidebarWrapper::-webkit-scrollbar {
        width: 10px;
        border-radius: 5px;
      }
      
      /* Track */
      .menusidebarWrapper::-webkit-scrollbar-track {
        background: transparent;
        width: 10px;
        border-radius: 5px;
      }
      
      /* Handle */
      .menusidebarWrapper::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 5px;
        width: 10px;
      }
    .menusidebarWrapper:hover::-webkit-scrollbar{
        background: #e4e4e4;
    }
    .menusidebarWrapper:hover::-webkit-scrollbar-thumb {
        background: #c5c4c4;
        border-radius: 5px;
        width: 10px;
      }
      .menusidebarWrapper{
        overflow-y: scroll;
        max-height: 491px;
        padding: 0 8px 0 16px;
        padding-bottom: 16px;
        display: flex;
        gap: 16px;
        .leftmenusidebar{
          background-color: #fff;
          padding: 16px 0;
          border-radius: max(0px, min(8px, (100vw - 4px - 100%) * 9999)) / 8px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          height: 100%;
          max-width: 358px;

          h4{
            font-size: 1.0625rem;
            color: #050505;
            font-weight: 500;
            padding: 16px;
          }
          .menuLinks{
            padding: 0 8px;
            ul{
              flex-direction: column;
              align-items: start;

              .menuBarLi{
                padding: 4px;
                border-radius: 8px;
                background: none;
                width: 98%;
                .linksFlex{
                  display: flex;
                  gap: 10px;
                    .menuHead{
                      h5{
                        font-size: .9375rem;
                        color: #050505;
                        font-weight: 500;
                      }
                      p{
                        font-size: .8125rem;
                        color: #65676B;
                      }
                  }
                }
                &:hover{
                  background-color: #f3efef;
                }
              }
            }
          }
        }
        .rightmenusidebar{
          background-color: #fff;
          border-radius: max(0px, min(8px, (100vw - 4px - 100%) * 9999)) / 8px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          width: 200px;
          position: sticky;
          top: 0;
          .createLinks{
            h5{
              font-size: 1.25rem;
              color: #050505;
              padding: 8px 16px;
            }
            ul{
              padding: 8px;
              flex-direction: column;
              align-items: start;
              .createLi{
                padding: 4px;
                border-radius: 8px;
                background: none;
                width: 98%;
                display: flex;
                align-items: center;
                font-size: .9375rem;
                font-weight: 600;
                gap: 8px;
                span{
                  padding: 18px;
                  position: relative;
                  border-radius: 50%;
                  background-color: #E4E6EB;
                  transform: translate(0 ,0);
                  i{
                      position: absolute;
                      top: 8px;
                      left: 8px;
                  }
                }
                &:hover{
                  background-color: #f3efef;
                }
              }
            }
          }
        }
      }
    }
    .messengerWrapper{
      position: absolute;
      transform: translate(-175px, 5px);
      background-color: #Fff;
      border-radius: max(0px, min(8px, (100vw - 4px - 100%) * 9999)) / 8px;
      box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      z-index: 999;
      max-height: 571px;
      overflow: hidden;
      .messengerPosition{
        position: relative;
        overflow-y: scroll;
        max-height: 521px;
      .messengerHead{
        display: flex;
        justify-content: space-between;
        padding: 8px 16px;
        h1{
          padding: 0;
        }
       .messengerHeadIcons{
        display: flex;
        align-items: center;
        gap: 8px;
       }
      }
      .chatsLink{
        padding: 16px;
        ul{
          padding-bottom: 16px;
          li{
            padding: 8px 10px;
            border-radius: 25px;
            font-weight: 600;
            background: none;
            &:hover{
              background-color: #F0F2F5;
            }
            &.active{
              background-color: #ebf5ff ;
              color: #0866ff;
            }
          }
        }
        .inboxDiv{
          
          ul{
            flex-direction: column;
            align-items: start;
            li{
              width: 95%;
              border-radius: 10px;
                .chats{
                  display: flex;
                  gap: 10px;
                  .smallimageThumbnail{
                    height: 56px;
                    width: 56px;
                    img{
                      width: 100%;
                      height: 100%;
                      border-radius: 50%;
                    }
                  }
                  .chatHead{
                    h5{
                      font-size: .9375rem;
                      color: #050505;
                      font-weight: 600;
                    }
                    p{
                      font-size: .8125rem;
                      color: #65676B;
                      font-weight: 400;
                      display: flex;
                    }
                    
                  }
                }
            }
          }
        }
      }
     
    }
    .messengerBtn{
      position: sticky;
      left: 0;
      bottom: 0;
      padding-top: 15px;
      padding-bottom: 16px;
      justify-content: center;
      display: flex;
      box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1),inset 0 1px 0 0 rgba(255, 255, 255, 0.5);  
      background-color: #fff;
            p{
        color: #0064D1;
        font-weight: 600;
        font-size: .9375rem;
        cursor: pointer;
        &:hover{
          text-decoration: underline;

        }
      }
    }
  }
}
  .topbarBoxShadow{
    background-image: url(../../asssets/topbarboxshadow.png);
    background-repeat: repeat-x;
    background-size: 1px 7px;
    right: 0;
    height: 7px;
    position: absolute;
    bottom: -6px;
    left: 0;
    pointer-events: none;
  }
}
@media screen and (max-width: 1280px) {
  .topbarAll{
     .leftSectionTopbar{
      .searchInput{
        input{
          display: none;
        }
      }
     }
 
    }
  }
  @media screen and (max-width: 900px) {
    .topbarAll{
    .middleSectionTopbar{
      ul {
        display: flex;
        :link {
          padding: 0.2499rem 0;
          margin-left: 5px;
          .topbarMenuspacing {
            padding: 0.626rem 1.24rem;
            border-radius: 10px;
     }
  }
}
    }
     }
  }