:root{
    --primary-color : #0866ff;
    --comment-bg: #e4e6eb;
    --searchBtn-bg: #f0f2f5;
    --primary-font-color: #050505;
    --secondary-font-color: #65676B;
    --small-popup-box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),
    0 2px 4px 0 rgba(0, 0, 0, 0.1);
    --box-border-radius: max(0px, min(8px, (100vw - 4px - 100%) * 9999)) / 8px;
    --regular-font-size:  0.9375rem;
    --small-font-size: .8125rem;
    --li-hover-bg: #e7e7e7 ;
    --li-hover-white-bg: #f4f5f8;
    --online-green-dot-bg: #31A24C;
    --icon-hover-color: #f1f2f3;
}